@{
    ViewData["Title"] = "Movie Submitted";
}

@model Mission07_crofth.Models.Movie

<h2>@Model.Title has been added!</h2>
<a asp-controller="Home" asp-action="Index">Back Home</a><br>
<a asp-controller="Home" asp-action="MovieForm">Add Another Movie</a>